*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-color: #fff;
}

nav{
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem 2rem;
    color: var(--font-color);
    z-index: 999;
}

.navbar-logo a{
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 1.75rem;
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}
.navbar-menu a{
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.navbar-actions{
    display: flex;
    gap: 1.75rem;
    color: #FFF;
    text-align: right;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.navbar-actions a{
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

.navbar-menu li{
    margin-right: 20px;
}

.navbar-hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

.pages-1{
    background-image: url('../assets/img/background.png');
    padding-top: 80px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-1-sub-title{
    padding: 30px 0 ;
    color: var(--font-color);
}
.pages-1-title{
    color: var(--font-color);
    font-size: 4rem;
}

.button-pages-1{
    text-align: center;
    border-radius: 0.25rem;
    background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--font-color);
}

.text-scroll-pages-1{
    margin-top: 20rem;
    margin-bottom: 5px;
    color: var(--font-color);
    font-size: 16px;
}

.pages-2{
    margin-top: -2px;
    background-image: url('../assets/img/bg2.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    color: var(--font-color);
    justify-content: space-evenly;
    align-items: center;
}

.pages-2-left{
    padding: 0 1rem;
    margin: 1rem;
}

.pages-2-left p{
    color: #FFF;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
}

.pages-2-left h1{
    width: 25.71881rem;
    color: #FFF;
    font-family: Arial;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-right: 5rem;
    overflow: hidden;
    border-radius: 8px;
}

.slider {
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
    font-size: 0;
}

.slide {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
    max-height: 3000px; 
}


button.nextslide,button.prevslide {
    position: absolute;
    border-radius: 50px;
    border:none;
    background-color: transparent;
    cursor: pointer;
    margin:10px;
    transition: color 0.3s;
    top: 50%;
    transform: translateY(-43%);
  
}

button.right{
right: 0;
}

button.nextslide:focus,button.prevslide:focus {
    outline: none;
}

button.nextslide:hover,button.prevslide:hover {
    color: #007bff;
}
button.nextslide svg,button.prevslide svg{
width:30px;
height:30px
}

.pages-3{
    margin-top: -2px;
    background-image: url('../assets/img/bg3.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    border: none;
    color: var(--font-color);
}

.pages-3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 50%;
    float: right;
    margin-right: 15rem;
    margin-top: 11rem;
}

.pages-3-text{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.12rem;
}

.pages-3-title{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.pages-3-timeline{
    position: relative;
    padding-left: 1.5rem;
    margin-top: 2rem;
}

.pages-3-timeline::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 90px;
    background: white;
    left: 3px;
    margin-top: 0.25rem;
}

.pages-3-timeline-text{
    margin-bottom: 1rem;
}

.pages-3-timeline-title{
    color: #FFB548;
    text-align: center;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
}

.pages-3-timeline-title::before{
    content: "";
    position: absolute;
    background-color: var(--font-color);
    border-radius: 9999px;
    width: 10px;
    height: 10px;
    left: -1px;
    margin-top: 0.25rem;
    z-index: 999;
}

.pages-3-timeline-title-2{
    color: #FFB548;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
}

.pages-3-timeline-title-2::before{
    content: "";
    position: absolute;
    border-radius: 9999px;
    width: 10px;
    height: 10px;
    left: -2px;
    margin-top: 0.5rem;
    z-index: 999;
    border: 2px solid white;
}

.pages-3-timeline-desc{
    color: #FFF;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    width: 22.65756rem;
    height: 4.8565rem;
    flex-shrink: 0;
}

/* pages 4 */

.pages-4{
    background-image: url('../assets/img/bg4.png');
    margin-top: -2px;
    background-size: 100% 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: none;
    color: var(--font-color);
}

.pages-4-text-1{
    height: 1.72956rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    display: flex;
    justify-content: center;
    padding-top: 9.08rem;
    margin-bottom: 4rem;
}

.pages-4-system-requirement{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4rem;
    margin-left: 5rem;
}

.pages-4-system-requirement-title{
    display: flex;
    width: 39.57438rem;
    height: 4.60269rem;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.pages-4-system-requirement-box{
    display: grid;
    border: 1px solid #979797;
    grid-template-areas: 'col-1 col-2'
    'col-3 col-4'
    'col-5 col-5';
    padding: 10px;
    width: 42%;
}

.pages-4-system-requirement-box-col-1{
    grid-area: col-1;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 12px;
}

.pages-4-system-requirement-box-col-2{
    grid-area: col-2;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 12px;
}

.pages-4-system-requirement-box-col-3{
    grid-area: col-3;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 12px;
}

.pages-4-system-requirement-box-col-4{
    grid-area: col-4;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 12px;
}

.pages-4-system-requirement-box-col-5{
    grid-area: col-5;
    border: 1px solid rgba(151, 151, 151, 0.2);
    padding: 12px;
}


.pages-4-system-requirement-box-col-1-title{
    color: #FFB548;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.pages-4-system-requirement-box-col-1-desc{
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 122.222% */
}

.pages-5{
    background-image: url('../assets/img/bg5.png');
    margin-top: -2px;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: none;
    color: var(--font-color);
}

.pages-5-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 100%;
}

.pages-5-left{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    font-family: Arial;
    width: 25.68313rem;
    gap: 3rem;
}

.pages-5-left-title{
    color: #FFF;
    font-family: Arial;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.pages-5-left-desc{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: capitalize;
}

.pages-5-left-button{
    width: 16.27263rem;
    height: 3.75rem;
    border-radius: 0.25rem;
    background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
    color: #1A1917;
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages-5-mobile{
    display: none;
}

.pages-5-right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pages-5-right-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 28.28688rem;
    height: 11.43363rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.08);
    margin-left: -5rem;
}

.pages-5-right-card2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 28.28688rem;
    height: 11.43363rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.08);
    margin-left: -15rem;
}

.pages-5-right-card3{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 28.28688rem;
    height: 11.43363rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.08);
    margin-left: -10rem;
}

.pages-5-right-card-headers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.pages-5-right-card-headers-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pages-5-right-card-headers-profile-avatar{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 999px;
    box-shadow: 7px 1px 0px 0px rgba(255,180,73,0.75);
}

.pages-5-right-card-headers-name{
    color: #FFB548;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
}

.pages-5-right-card-headers-job{
    color: #FFF;
    text-align: justify;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    opacity: 0.5;
}

.pages-5-right-card-quote{
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

.pages-5-right-card-date{
    color: #FFF;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    padding: 10px;
}

.pages-6{
    background-image: url('../assets/img/bg6.png');
    margin-top: -2px;
    background-size: cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: none;
    color: var(--font-color);
}

.pages-6-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 1rem;
    padding-top: 5rem;
}

.pages-6-right-text1{
    width: 16.34781rem;
    flex-shrink: 0;
    color: #FFF;    
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.125rem;
    margin-bottom: 1.;
}

.pages-6-right-title{
    width: 42.32738rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial;
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.pages-6-right-desc{
    width: 40.30994rem;
    height: 8.53556rem;
    flex-shrink: 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; /* 122.222% */
}

.pages-6-right-form{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.email {
    display: block; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    border-radius: 0.375rem; 
    border-width: 2px; 
    width: 100%; 
    background: rgba(255, 255, 255, 0.08);
    border: none;
    color: #FFB548;
}

.btn-subscribe{
    background-color: #F3AF34;
    width: 16rem;
    padding: 1rem;
    color: #1A1917;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-radius: 0.125rem;
}

footer{
    background-color: #080B0A;
    padding: 0 5rem 5rem 5rem;
    margin-top: -10rem;
}

footer .top {
    display: flex;
    align-items: center;
    justify-content: end;
    color: #FFF;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    gap: 2rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  
  footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Open Sans;
    color: #FFF;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    margin-top: 1.75rem;
  }
  
  footer .bottom .left {
    opacity: 0.5;
  }
  


