*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #fff;
}

nav{
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    color: var(--font-color);
    opacity: 100;
}

.navbar-logo{
    width: 50px;
    margin-right: 20px;
}
.navbar-menu{
    list-style: none;
    display: flex;
}
.navbar-menu a{
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
}

.navbar-actions a{
    text-decoration: none;
    color: var(--font-color);
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

.navbar-menu li{
    margin-right: 20px;
}

.navbar-hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

.pages-1{
    background-image: url('../assets/img/background.png');
    padding-top: 80px;
    background-size: cover;
    background-position: center;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-1-sub-title{
    padding: 30px 0 ;
    color: var(--font-color);
}
.pages-1-title{
    color: var(--font-color);
    font-size: 4rem;
}

.button-pages-1{
    text-align: center;
    border-radius: 0.25rem;
    background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--font-color);
}

.text-scroll-pages-1{
    margin-top: 20rem;
    margin-bottom: 5px;
    color: var(--font-color);
    font-size: 16px;
}

