/*<<<<<<<<<  NAVBAR  >>>>>>>>>>>>>>>>*/

.navbar {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 90.66%;

}


.logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
}


.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-center a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}



/*<<<<<<<<<<< First Page  >>>>>>>>>>>>>>>>*/

.landing-page {
    background-image: url('assets/Group\ 1.jpg');
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.play-button {
    background-color: #ffd322;
    color: black;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-element {
    text-align: center;
}

.centered-element h1 {
    font-size: 50px;
}

.centered-element p {
    font-size: 24px;
    margin-top: 20px;
}




/*<<<<<<<<<<< Second Page  >>>>>>>>>>>>>>>>*/

.second-page {
    background-image: url('assets/bg\ image\ 2.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-position: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
}

.container-2 {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

.container-2 h3 {
    font-size: 24px;
}

.container-2 h1 {
    font-size: 50px;
}

.img1 {
    width: 700px;
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.img-container {
    margin-left: 50px;
}

@media screen and (max-width: 500px) {
    body {
        color: black;
    }

    .landing-page {
        background-image: url('assets/Group\ 1.jpg');
        background-size: cover;
        background-position: center;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-family: Arial, sans-serif;
    }

    .second-page {
        height: auto;
        max-width: 100%;
    }

    .third-page {
        max-width: 100%;
        height: auto;
    }

    .fourth-page {
        max-width: 100%;
        height: auto;
    }

    .sixth-page {
        max-width: 100%;
        height: auto;
    }
}



/*<<<<<<<<<<< Third Page  >>>>>>>>>>>>>>>>*/

.third-page {
    background-image: url('assets/bg\ image\ 3.jpg');
    background-size: cover;
    display: flex;
    background-position: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    color: white;
}

.container-3 {
    display: flex;
    align-items: center;
    text-align: left;
    right: 900px;
    margin-bottom: 200px;
    margin-left: 700px;
}

.container-3 h3 {
    font-size: 24px;
}

.container-3 h1 {
    font-size: 50px;
}

.paragraph {
    font-family: Arial;
    font-size: 18px;
}

.paragraph li {
    margin-top: 10px;
}

.paragraph li strong {
    margin-bottom: 10px;
    color: #b99508;
}

.paragraph li p {
    margin-top: 5px;
}

/*<<<<<<<<<<< Fourth Page  >>>>>>>>>>>>>>>>*/

.fourth-page {
    background-image: url('assets/bg\ image\ 4.jpg');
    background-size: cover;
    display: flex;
    background-position: center;
    height: 900px;
    text-align: center;
    justify-content: center;
    color: white;
}

.fourth-page h3 {
    display: flex;
    right: 900px;
    margin-top: 100px;
}

.container-4 {
    text-align: center;
    color: white;
    font-size: 14px;
}

.container-4 h3 {
    text-align: center;
    justify-content: center;
}

.container-4 h1 {
    margin-right: 900px;
    margin-top: 40px;
    font-family: Arial;
    font-weight: 400;
    font-size: 40px;
}

.requirement {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 87px;
}

.title {
    margin-bottom: 10px;
}

.table-card-container {
    display: flex;
}

.table-card {
    border: 1px solid rgb(212, 103, 7);
    width: 100%;
    padding: 15px 20px;
}

.page-requirements__table-card-bottom {
    border: 1px solid rgb(212, 103, 7);
    width: 642px;
    padding: 15px 20px;
}

.fifth-page {
    background-image: url('assets/bg\ image\ 5.jpg');
    background-size: cover;
    display: flex;
    background-position: center;
    height: 900px;
    text-align: center;
    justify-content: center;
    color: white;
}

header {
    text-align: left;
    margin-left: 50px;
    margin-top: 200px;
    margin-right: 200px;

}

main {
    max-width: 960px;
    margin-top: 100px;
}

.scores {
    list-style: none;
    padding: 0;
    text-align: left;
}

.scores li {
    display: flex;
    align-items: center;
}

.scores li img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.scores li .score-content {
    margin-left: 20px;
}

.scores li .score-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.scores li .score-content p {
    font-size: 16px;
    margin-bottom: 0;
}

.card {
    background-color: #FFFFFF14;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.sixth-page {
    background-color: rgb(11, 10, 10);
    background-size: cover;
    display: flex;
    background-position: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 50px 0;
}

.container-6 {
    max-width: 960px;
    margin-left: 200px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.sixth-page h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.sixth-page p {
    max-width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
}

.sixth-page form {
    width: 100%;
    margin: 0 auto;
}

.sixth-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.sixth-page button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
}

.input-1 {
    display: flex;
    margin: auto 0;
}

.footer {
    background: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0%;
    right: 0%;
    bottom: -0.03%;
    top: 90.66%;

}

.social-icons {
    list-style: none;
    margin: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}