@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.main-container {
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-1 {
    background-image: url(assets/background/Group\ 1.png);
}

.logo {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
}


.nav-logo {
    display: flex;
}

.nav {
    background-image: url(assets/background/Group\ 1.png);
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 100%;
}


a {
    text-decoration: none;
    color: white;
}

.nav a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 4rem;
}

.nav ul li {
    display: flex;
    align-items: center;
}

/* HOME */
#home {
    align-items: center;
}

.centered-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-element h1 {
    color: white;
    padding: 40px;
    margin-top: 50px;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 3px;
    margin-top: 180px;
}

.centered-element h3 {
    color: white;
    font-size: 16px;
    line-height: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.centered-element a {
    background-color: #FFB548;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
    width: 200px;
    height: 60px;
}

.centered-element span {
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    margin-top: 400px;
}

/* GAMES */
.bg-2 {
    background-image: url(assets/background/bg\ image\ 2.jpg);
}

.game {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    letter-spacing: 3px;
}

.game-left {
    flex: 3;
    max-width: 30%;
    flex-direction: column;
    padding : 40px;
    margin-top: 150px;
}

.game-left h3 {
    font: 16px;
    line-height: 19px;
    color: white;
}

.game-left h1 {
    color: white;
    font-size: 40px;
    line-height: 60px;
}

.game-right {
    flex: 7;
    max-width: 70%;
}

.slide-img img {
    width: 858px;
    height: 477px;
    padding: 50px;
    margin-top: 150px;
}

/* FEATURES */
.bg-3 {
    background-image: url(assets/background/Group\ 3.jpg);
}

.features {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.features-left{
    flex: 3;
    max-width: 60%;
}

.features-right{
    flex: 2;
    max-width: 40%;
}

.features-right h3 {
    color: white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}

.features-right h1 {
    color: white;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: lighter;
}

.features-content{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    flex-direction: column;
}

.traditional-game {
    display: flex;
    justify-content: left;
}

.traditional-game .line div {
    width: 1px;
    height: 150%;
    background: white;
    position: relative;
}

/* DOT ON THE LINE */
.traditional-game .line div::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -7px;
}

.dot {
    width: 1rem;
    height: 1rem;
    border: white solid 1px;
    border-radius: 50%;
    margin-left: -8px;
    margin-top: 34px;
}

.info h2 {
    font-size: 20px;
    line-height: 24px;
    color: #FFB548;
    letter-spacing: 1px;
    margin-left: 20px;
}

.info p {
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 20px;
    padding: 10px;
}

.game-suit {
    display: flex;
    align-items: flex-end;
}

.tbd {
    display: flex;
    align-items: flex-end;
}

/* REQUIREMENT */
.bg-4 {
    background-image: url(assets/background/bg\ image\ 4.png);
}

#requirement h3 {
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    justify-content: center;
    padding-top: 100px;
}

.requirement-right {
    display: flex;
    flex: 1;
    max-width: 50%;
}

.requirement-left {
    display: flex;
    flex: 2;
    max-width: 50%;
    padding: 80px 0 0 50px;
}

.requirement-left h1 {
    color: white;
    font-size: 52px;
}

.box {
    width: 550px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.box-content {
    width: 220px;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
}

.box h2 {
    color: #FFB548;
}

.box p {
    color: white;
}

/* TOP SCORES */
.bg-5 {
    background-image: url(assets/background/bg\ image\ 5.png);
}

.scores-left {
    display: flex;
    flex-direction: column;
    flex: 3;
    max-width: 40%;
    margin-left: 100px;
}

.scores-right {
    display: flex;
    flex-direction: column;
    flex: 6;
    max-width: 60%;
}

.scores-left h1 {
    color: white;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 3px;
    margin-top: 400px;
    margin-bottom: 20px;
}


.scores-left p {
    color: white;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 12px;
}

.scores-left a {
    background-color: #FFB548;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
}

.card {
    padding: 12px;
    width: 290px;
    height: 130px;
    border-radius: 10px;
    background: #FFFFFF14;
}


