@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --black: #000;
    --black-title: #1A1917;
    --yellow-color: #FFB548;
}

body {
    overflow-x: hidden;
}

/* Navigation Header */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8%;
    background-color: rgb(16, 14, 14);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0.7;
}

#menu-icon {
    font-size: 57px;
    color: var(--white);
    display: none;
}

.navigation .menu a {
    color: var(--white);
    display: inline-block;
    margin: 0 1rem;
    text-align: right;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.navigation .menu a:hover {
    color: var(--yellow-color);
}

/* .navigation .menu a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid rgb(230, 165, 87);
    transform: scaleX(0);
    transition: 0.2s linear;
} */

.navigation .menu a:hover::after {
    transform: scaleX(0.5);
}

.navigation .logo {
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.navigation .auth a {
    color: var(--white);
    margin: 0 1rem;
    text-align: right;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.navigation .auth a:hover {
    color: var(--yellow-color);
}

.section {
    min-height: 100vh;
    padding: 120px 6% 60px;
}

/* Header Section */
.header {
    background-image: url('../assets/bg-image1.png');
    width: 1280px;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-family: Arial;
    text-align: center;
}

.header .header-content h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 17rem;
}

.header .header-content h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.header .header-content .btn {
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow-color);
    border-radius: 4px;

    .btn-play {
        background: none;
        color: var(--black-title);
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.header .header-content .scroll-down p {
    text-align: justify;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    padding-top: 220px;
    text-transform: uppercase;
}

/* Games Section */
.games {
    background-image: url('../assets/bg-image2.png');
    width: 1280px;
    height: 800px;
    margin-top: -0.5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.games .games-content {
    display: flex;
    color: var(--white);
    gap: 2rem;
}

.games .games-content {
    .title {
        display: flex;
        flex-direction: column;
        margin-top: 17rem;
        margin-left: 5rem;
        font-family: Arial;
    }

    .title h3 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .title h1 {
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.games .games-content {
    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 19rem;
        background: none;

        .btn {
            color: var(--white);
            background: none;
        }
    }
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19rem;
    background: none;
    position: relative;
    max-width: 600px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 auto;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.slider-control {
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.slider-control.prev {
    left: 0;
}

.slider-control.next {
    right: 0;
}

/* Features Section */
.features {
    display: flex;
    justify-content: center;
    background-image: url('../assets/bg-image3.png');
    width: 1280px;
    height: 800px;
    margin-top: -1px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.features .features-content {
    .title {
        color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15rem;
        padding-left: 35rem;
        font-family: Arial;
    }

    .title h3 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .title h1 {
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .title .info {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;

        .icon1 {
            display: flex;
        }

        .icon1 .theme,
        .icon2 .theme,
        .icon3 .theme {
            margin-left: 2rem;
        }

        .icon1 .theme h1,
        .icon2 .theme h1,
        .icon3 .theme h1 {
            color: #FFB548;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 2px;
        }

        .icon1 .theme p {
            text-align: justify;
            font-family: 'Open Sans';
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            max-width: 23rem;
            padding-top: 1rem;
        }

        .icon2 {
            display: flex;
            margin-top: -0.3rem;
        }

        .icon3 {
            display: flex;
            margin-top: 2rem;
        }
    }
}

/* System Requirements Section */
.system {
    background-image: url('../assets/bg-image4.png');
    color: var(--white);
    width: 1280px;
    height: 800px;
    margin-top: -1px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.system .system-content {
    padding-top: 140px;
}

.system .system-content .head p {
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.system .system-content .body {
    padding-left: 4rem;
    max-width: 10rem;
}

.body-content h1 {
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 4rem;
}

.system .system-content .body {
    .spesification {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
}

.system .system-content .body .spesification>div {
    padding: 20px 0;
    font-size: 30px;
}

.system .system-content .body .spesification .grid {
    border: 1px solid var(--white);
    padding: 0.5rem;
    font-size: 30px;
    white-space: nowrap;
}

.item1 h1,
.item2 h1,
.item3 h1,
.item4 h1,
.item5 h1 {
    color: var(--yellow-color);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
}

.item1 p,
.item2 p,
.item3 p,
.item4 p,
.item5 p {
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 1.5rem;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Top Scores Section */
.score {
    background-image: url('../assets/bg-image5.png');
    width: 1280px;
    height: 800px;
    margin-top: -1px;
    padding-top: 2rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.score .score-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Score Left Section */
.score-content {
    .left {
        margin-right: 193px;
        color: var(--white);
    }

    .left h1 {
        font-family: Arial;
        font-size: 56px;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .left p {
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        padding-top: 3rem;
        padding-bottom: 4rem;
        max-width: 370px;
    }

    .left .btn {
        width: 260px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--yellow-color);
        text-align: center;
        border-radius: 4px;
    }

    .left .btn .btn-see {
        background: none;
        color: var(--black-title);
        text-align: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 700;
        text-transform: lowercase;
    }
}

/* Score Right Section */
.score-content {
    .right {
        width: 550px;
    }
}

.score-content .right .card2 {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 454px;
    height: 205px;
    background: rgba(255, 255, 255, 0.08);
    margin: 2rem;
    margin-left: 0px;
}

.score-content .right .card1,
.score-content .right .card3 {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 454px;
    height: 205px;
    background: rgba(255, 255, 255, 0.08);
    margin: 0 0 0 6rem;
}

.right .card1 .head,
.right .card2 .head,
.right .card3 .head {
    display: flex;
}

.right .card1 .head img,
.right .card2 .head img,
.right .card3 .head img {
    width: 70px;
}

.right .card1 .head .head-content,
.right .card2 .head .head-content,
.right .card3 .head .head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 22px;
}

.right .card1 .head .twitter {
    margin-top: 15px;
    margin-left: 10rem;
}

.right .card2 .head .twitter {
    margin-top: 15px;
    margin-left: 9rem;
}

.right .card3 .head .twitter {
    margin-top: 15px;
    margin-left: 7rem;
}

.right .card1 .head .head-content h1,
.right .card2 .head .head-content h1,
.right .card3 .head .head-content h1 {
    color: var(--yellow-color);
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}

.right .card1 .head .head-content p,
.right .card2 .head .head-content p,
.right .card3 .head .head-content p {
    color: var(--white);
    text-align: justify;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.5;
}

.right .card1 .body .title1,
.right .card2 .body .title1,
.right .card3 .body .title1 {
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    padding-top: 27px;
    padding-bottom: 9px;
    max-width: 380px;
}

.right .card1 .body .title2,
.right .card2 .body .title2,
.right .card3 .body .title2 {
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}

/* News Later Subscribe Section */
.letter {
    background-image: url('../assets/bg-image6.png');
    width: 1280px;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.letter .letter-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .left img {
        width: 445px;
        height: 694px;
        flex-shrink: 0;
        margin-left: 5rem;
        margin-right: 3rem;
    }

    .right {
        color: var(--white);
        font-family: Arial;
        font-weight: 400;
    }

    .right h3 {
        font-size: 24px;
        letter-spacing: 2px;
        max-width: 200px;
    }

    .right h1 {
        font-size: 65px;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .right p {
        font-family: 'Open Sans';
        font-size: 18px;
        line-height: 22px;
        max-width: 650px;
        padding-bottom: 3rem;
    }
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);

    .email {
        width: 350px;
        height: 60px;
        margin-right: 0;
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 5px;
        gap: 0.5rem;
    }

    .email label {
        display: block;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5;
    }

    .email input {
        background: none;
        color: var(--yellow-color);
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 400;
    }

    .btn-subs {
        width: 260px;
        height: 60px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        background: var(--yellow-color);
        text-align: center;
        border-radius: 4px;
    }

    .btn-subs .title {
        background: none;
        color: var(--black-title);
        text-align: center;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

/* Footer Section */
footer {
    background-image: url('../assets/bg-image6.png');
    width: 100vw;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

footer section {
    padding: 0 6rem 0 6rem;

    .footer-content {
        display: flex;
        justify-content: end;
        gap: 2rem;
        padding-bottom: 1rem;
    }
}

footer .section-bottom {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.section-bottom {
    .copyright {
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5;
    }

    .privacy-policy {
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }
}