.page-footer {
  background: url("/assets/bg_newsletter_page.svg");
  height: fit-content;
  width: 100%;
  padding: 50px 20px;
}

.page-footer__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  color: white;
  margin-bottom: 40px;
}

.page-footer__link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.page-footer__link {
  color: white;
  cursor: pointer;
}

.page-footer__credits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.page-footer__credit {
  font-weight: 200;
  color: gray;
}

@media screen and (min-width: 768px) {
  .page-footer__link-list {
    gap: 50px;
  }
  .page-footer__credits {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .page-footer {
    padding: 50px 100px;
  }
  .page-footer__links {
    flex-direction: row;
  }
}
