.page-landing__head {
  background-image: url("/assets//bg_head_landing.jpg");
  background-size: cover;
  background-position: center;
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: -150px;
}

.page-landing__head-container {
  text-align: center;
}

.page-landing__head-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.page-landing__head-desc {
  font-size: 18px;
  margin-bottom: 30px;
}

.page-landing__head-scroll-container {
  cursor: pointer;
  margin-top: 90px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .page-landing__head-title {
    font-size: 72px;
  }
  .page-landing__head-desc {
    font-size: 24px;
  }
  .page-landing__head-scroll-container {
    margin-top: 200px;
  }
}

@media screen and (min-width: 992px) {
  .page-landing__head-title {
    font-size: 60px;
  }
}
